.about {
  background-image: url("../img/zigzag-line-desktop.svg");
  background-repeat: repeat-x;
  background-size: 320px;

  @media (min-width: @tablet-width) {
    background-size: 100%;
  }
}

.about__inner {
  width: 260px;
  padding-top: 37px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 668px;
    margin: 0 auto;
    padding-top: 73px;
    padding-bottom: 74px;
  }

  @media (min-width: @desktop-width) {
    width: 875px;
    margin: 0 auto;
    padding-top: 123px;
    padding-left: 175px;
    padding-bottom: 79px;
  }
}

.about__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 56px;
    margin-top: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 39px;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.about__item {
  display: block;
  padding-top: 57px;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    width: fit-content;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: @desktop-width) {
    max-width: 350px;
  }
}

.about__item:nth-of-type(1) {
  background-image: url("../img/about-1.svg");
  background-repeat: no-repeat;
  background-position: 8px 2px;
}

.about__item:nth-of-type(2) {
  padding-top: 53px;
  background-image: url("../img/about-2.svg");
  background-repeat: no-repeat;
}

.about__item:nth-of-type(3) {
  padding-top: 53px;
  background-image: url("../img/about-3.svg");
  background-repeat: no-repeat;
  background-position: 8px 4px;

  @media (min-width: @tablet-width) {
    padding-top: 49px;
    background-position: 8px 1px;
  }
}

.about__item:nth-of-type(4) {
  padding-top: 53px;
  background-image: url("../img/about-4.svg");
  background-repeat: no-repeat;
  background-position: 3px 2px;

  @media (min-width: @tablet-width) {
    padding-top: 58px;
    background-position: 3px 4px;
  }
}

.about__item:nth-of-type(5) {
  padding-top: 52px;
  background-image: url("../img/about-5.svg");
  background-repeat: no-repeat;
  background-position: 0 2px;

  @media (min-width: @tablet-width) {
    padding-top: 54px;
    background-position: 0 2px;
  }
}

.about__item:nth-of-type(6) {
  padding-top: 54px;
  background-image: url("../img/about-6.svg");
  background-repeat: no-repeat;
  background-position: 3px 0;
  
  @media (min-width: @tablet-width) {
    padding-top: 51px;
    background-position: 3px 0;
  }
}
