.about {
  width: 260px;
  margin: 31px auto 0;
}
.about__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  margin-top: 28px;
}
.about__item {
  font-size: 17px;
  line-height: 20px;
}
@media (min-width: @tablet-width) {
  .about {
    width: 668px;
    margin: 40px auto 0;
  }
  .about__list {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 57px;
    grid-column-gap: 100px;
    margin-top: 39px;
  }
}
@media (min-width: @desktop-width) {
  .about {
    width: 875px;
    margin: 54px auto 0;
    padding-left: 175px;
  }
  .about__list {
    grid-column-gap: 115px;
  }
}
