.catalog {
  background-color: #F1F1F1;
  background-image: url(../img/hero-desktop.png);
}

.interior {
  background-color: #63D1BB;
}

.childs-toys {
  background-color: #56C3B2;
}

.catalog__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px; /* or 126% */
  color: #ffffff;
}
