.catalog-promotions {
  background-color: #F1F1F1;
}

.catalog-promotions__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.catalog-promotions__about {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}
