.contacts {
  display: flex;
  flex-direction: column;
  
  @media (min-width: @desktop-width) {
    margin: 31px auto 0;
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(6, 175px);
    grid-auto-rows: max-content;
  }
}

.contacts__container {
  margin: 31px auto 0;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    grid-area: 1 / 2 / 2 / 4;
  }
}

.contacts__link {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 230px;
    grid-area: 2 / 2 / 3 / 4;
  }
}

.contacts__characteristic {
  font-size: 14px;
  line-height: 30px;
}

.contacts__description {
  font-size: 14px;
  line-height: 30px;
}

.contacts__map {
  width: 100%;

  @media (min-width: @desktop-width) {
    grid-area: 1 / 4 / 3 / 7;
  }
}
