.page {
  height: 100%;
  box-sizing: border-box;
}

.page__body {
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.page__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px; /* or 111% */
  text-align: center;
  margin: 0;
}

.page__about {
  font-size: 13px;
}

@media (min-width: @tablet-width) {
  .index-title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .index-title {
    width: 70%;
    margin: 0 auto;
    font-size: 53px;
    line-height: 57px;
  }
}
