@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.small-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px; /* or 160% */
  color: #444444;
}

.block-title {
  font-size: 17px;
  line-height: 24px;
}

.section-title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px; /* identical to box height, or 120% */
}

.button-link {
  font-size: 18px;
  line-height: 20px; /* identical to box height, or 111% */
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  text-decoration: none;
}

@import "page.less";
@import "main-nav.less";
@import "main-header.less";
@import "catalog-promotions.less";
@import "catalog.less";
@import "weekly-item.less";
@import "about.less";
@import "review.less";
@import "contacts.less";
@import "main-footer.less";
@import "products.less";
@import "video.less";
@import "make-order.less";
@import "control.less";
