.weekly-item__slogan {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px; /* identical to box height, or 118% */
  text-transform: uppercase;
  color: #63d1bb;
}

.weekly-item__characteristic {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.weekly-item__description {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.weekly-item__price {
  font-size: 17px;
  line-height: 24px; /* identical to box height, or 141% */
  color: #444444;
}
